@model SocialNetwork.Models.SocialNetworkViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Admin page for all users</h1>

<p>
    @Html.ActionLink(
        linkText: "See all posts",
        actionName: "Index",
        controllerName: "Posts",
        routeValues: new
        {
             
        },
        htmlAttributes: null
        ) - 
    @Html.ActionLink(
        linkText: "See all comments",
        actionName: "Index",
        controllerName: "Comment",
        routeValues: new
        {
             
        },
        htmlAttributes: null
        )
</p>


<div class="text-center">
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Username
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>
            <th>
                In a relationship
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var l in Model.users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => l.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => l.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => l.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => l.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => l.InRelationship)
            </td>
            <td>
                @Html.ActionLink(
                    linkText: "Create Cirle",
                    actionName: "CreateCircle",
                    controllerName: "Home",
                    routeValues: new
                    {
                        id = l.Id
                    },
                    htmlAttributes: null
                    ) |
                @Html.ActionLink(
                    linkText: "View Cirles",
                    actionName: "ViewCircles",
                    controllerName: "Home",
                    routeValues: new
                    {
                        id = l.Id
                    },
                    htmlAttributes: null
                    ) |
                @Html.ActionLink(
                    linkText: "Follow a user",
                    actionName: "FollowUser",
                    controllerName: "Home",
                    routeValues: new
                    {
                        id = l.Id
                    },
                    htmlAttributes: null
                    ) |
                @Html.ActionLink(
                    linkText: "Create Post",
                    actionName: "Create",
                    controllerName: "Posts",
                    routeValues: new
                    {
                        createdBy = l.Id
                    },
                    htmlAttributes: null
                    ) |
                @Html.ActionLink(
                    linkText: "Feed",
                    actionName: "Feed",
                    controllerName: "Home",
                    routeValues: new
                    {
                        id = l.Id
                    },
                    htmlAttributes: null
                    )
                |
                @Html.ActionLink(
                    linkText: "Wall",
                    actionName: "ViewAs",
                    controllerName: "Home",
                    routeValues: new
                    {
                        id = l.Id
                    },
                    htmlAttributes: null
                    )
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
