@model SocialNetwork.Models.UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Username
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>
            <th>
                In a relationship
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var l in Model.users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => l.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => l.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => l.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => l.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => l.InRelationship)
            </td>
            <td>
                @Html.ActionLink(
                    linkText: "Create Cirle",
                    actionName: "CreateCircle",
                    controllerName: "Home",
                    routeValues: new
                    {
                        id = l.Id
                    },
                    htmlAttributes: null
                    )
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
