@model SocialNetwork.Models.UserViewModel

@{
    ViewData["Title"] = "Posts";
}

<h1>Car Gallery</h1>

<p>
    <a asp-action="Create">Create new Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image URL
            </th>
            <th>
               Text
            </th>
            <th>
                Created by
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.posts)
        {
            //https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg
            <tr>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img src="@Url.Content(item.ImageUrl)" alt="Image" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>