@model SocialNetwork.Models.UserViewModel

@{
    ViewData["Title"] = "Posts";
}

<h1>Feed</h1>

<p>
    <a asp-action="Create">Create new Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image URL
            </th>
            <th>
               Text
            </th>
            <th>
                Created by
            </th>
            <th>
                Likes
            </th>
            <th>
                What to do
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.posts)
        {
            //https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg
            <tr>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img src="@Url.Content(item.ImageUrl)" alt="Image" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Likes)
                </td>
                
                <td>
                    @Html.ActionLink("Like", "Like", new { id = item.Id }) |
                    



                    @Html.ActionLink(
                        linkText: "Comment",
                        actionName: "Create",
                        controllerName: "Comment",
                        routeValues: new
                        {
                            postId = item.Id
                        },
                        htmlAttributes: null
                        ) |

                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>